@model HandleErrorInfo

@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ERROR 404</title>
</head>
<body>
    <div> 
        <h1>ERROR</h1>
    </div>
</body>
</html>
