
@{
    ViewBag.Title = "About";
    ViewBag.NavPage = "About";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="box">
            <div class="row">
                <div class="col-lg-12">
                    <hr />
                       <h2 class="intro-text text-center"><strong> Resume Download</strong></h2>
                    <hr />
                    <div class="center-block text-center">
                        <i class="fa fa-file-pdf-o"></i><a href="~/Content/Documents/DustinCrawfordResume.pdf"><strong> Dustin Crawford - Resume - Updated 02/25/16</strong></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center"><strong>Work History</strong></h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p><strong><br />ZirMed, Inc.</strong></p>
                    <p><u>IT Intern</u> - Spring 2016</p>
                    <p>- Utilized latest MVC practices to develop a database health monitoring system for internal use by database administrators and other interested parties within the DevOps team</p>
                    <p>- Focused on domain-driven and test-driven design to ensure a stable, flexible codebase that is highly extensible and easily understood</p>
                    <p>- Used the Agile System Development Life Cycle while working in a five-man team to design and implement new features to the application in an iterative manner</p>
                    <p>- Developed an understanding of Object Relational Mapping as a data access pattern using nHibernate and Linq</p>
                    <p>- Released software using a proprietary, multi-environment deployment system</p>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p><strong>ZirMed, Inc.</strong></p>
                    <p><u>Intern</u> - Summer 2015</p>
                    <p>- Worked with .NET Engineers to provide proper documentation for mapping customer files to requested patient statement format</p>
                    <p>- Spoke to clients over the phone to discuss options for formatting and layout of patient statements, and then delivered on client’s chosen options</p>
                    <p>- Provided quality assurance to clients via self-audit of changes to statement formats, as well as periodical peer-reviews of changes made</p>
                    <p>- Attended daily stand-up meetings to discuss with the rest of the Print Services team about widespread issues effecting multiple clients, and how to best tackle said issues</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="col-lg-12">
                <hr>
                    <h2 class="intro-text text-center"><strong>Education</strong></h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-1">
                    <p><strong><br />Bachelor of Science - Computer Science</strong></p>
                    <p>University of Southern Indiana - Evansville, Indiana 47712</p>
                </div>
                <div class="col-md-3">
                    <br />
                    <p class="text-right">December 2015</p>
                </div>
            </div>
            </div>
        </div>
        <div class="box">
                <div class="col-lg-12">
                    <hr />
                        <h2 class="intro-text text-center"><strong>Projects</strong></h2>
                    <hr />
                </div>
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <h2 class="text-left">
                        <a href="#"><br /><u>@Html.ActionLink("Collectible Card Game", "Projects", null, new { @id = "titleLink-inline" })</u></a>
                    </h2>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <br />
                    <p>This collectible card game, dubbed Immortia by my group, was designed and built in response to business requirements put forward by our CS483 professor. He served as our primary stakeholder in the endeavor and helped guide us through the entire life cycle of the project.</p>
                    <p>At the end of the Spring 2015 term, we presented this project to the Information Technology Alliance of Evansville, Indiana. This group of individuals is comprised of CEOs and CTOs of major businesses in the Evansville area.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <h2 class="text-left">
                        <a href="#"><u>@Html.ActionLink("Endless Runner Game", "Projects", null, new { @id = "titleLink-inline" })</u></a>
                    </h2>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <br />
                    <p>This runner game has no official name, but was called "RuNinja" by the small team that created it. Inspired by other runner games such as Temple Run&trade; and Robot Unicorn Attack&trade;, this game was primarily designed for mobile devices and will be available on both major device platforms very soon.</p>
                </div>
            </div>

        </div>
    </div>
</div>


