
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <h3>HOME</h3>
    </div>
</body>
</html>

