
@{
    ViewBag.Title = "Projects";
    ViewBag.NavPage = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="box">
        <hr />
            <h4 class="intro-text text-center"><strong>Projects</strong></h4>
        <hr />


        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h2 class="text-left">
                    <strong><u>Collectible Card Game - "Immortia"</u></strong>
                </h2>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <br />
                <p>This game was developed by myself and a group of five other junior/senior level computer science majors at the University of Southern Indiana. It was completed for the CS483 requirement of the BSc in Computer Science, and took around 4 months to complete from concept to final demo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-left">
                <p>&bull; Utilized an agile methodology to quickly implement and iterate upon new features</p>
                <p>&bull; Developed using the C# language along with the <i>Unity</i> game engine</p>
                <p>&bull; Presented our work to the Information Technology Alliance of Evansville, Indiana in May 2015</p>
                <p>&bull; Inspired heavily by Hearthstone&trade;, which is developed by Blizzard Entertainment</p>
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <img src="~/Content/Images/Immortia_WIP_6.png" class="col-lg-5 col-lg-offset-1 img-responsive img-thumbnail"/>
            <img src="~/Content/Images/Immortia_WIP_7.png" class="col-lg-5 img-responsive img-thumbnail"/>
        </div>
        <div class="row col-md-offset-1">
            <br />
            <p>The source code for this game can be viewed <a href="https://bitbucket.org/DustinJCrawford/immortia/src">here</a> on BitBucket</p>
        </div>

        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <h2 class="text-left">
                    <br />
                    <br />
                    <strong><u>Endless Runner Game - "RuNinja"</u></strong>
                </h2>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <br />
                <p>This game was developed primarily by myself with some assistance from a few fellow students at the University of Southern Indiana, and was completed to fulfill the CS499 requirement. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-left">
                <p>&bull; Developed using the C# language along with the <i>Unity</i> game engine</p>
                <p>&bull; Created with the design goal of "Easy to learn but hard to master" in mind</p>
                <p>&bull; Inspired by other endless runner games such as Temple Run&trade; and Robot Unicorn Attack&trade;</p>
                <br />
                <br />
            </div>
        </div>

        <div class="row">
            <img src="~/Content/Images/runner_screen_1.png" class="col-lg-5 col-lg-offset-1 img-responsive img-thumbnail" />
            <img src="~/Content/Images/runner_screen_2.png" class="col-lg-5 img-responsive img-thumbnail" />
        </div>
        <div class="row col-md-offset-1">
            <br />
            <p>The source code for this game can be viewed <a href="https://bitbucket.org/DustinJCrawford/android-project/src">here</a> on BitBucket</p>
            <p>Available on Google Play and Apple Store soon!</p>
        </div>
    </div>
</div>

<!--jQuery-->
<script src="~/Scripts/jquery-2.2.0.js"></script>
<!--Bootstrap-->
<script src="~/Scripts/bootstrap.min.js"></script>
<!--Google Analytics-->
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72497822-1', 'auto');
        ga('send', 'pageview');

</script>


