
@{
    ViewBag.Title = "Projects";
    ViewBag.NavPage = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="box">
        <hr />
            <h4 class="intro-text text-center"><strong>Projects</strong></h4>
            
        <hr />
    </div>
</div>


