
@{
    ViewBag.Title = "Projects";
    ViewBag.NavPage = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="box">
        <hr />
            <h4 class="intro-text text-center"><strong>Projects</strong></h4>
        <hr />


        <div class="col-md-11 col-md-offset-1">
            <h2 class="text-left">
                <strong><u>Endless Runner Game</u></strong>
            </h2>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <br />
            <p>This is the area where I will talk about the endless runner game I developed in Unity. Designed for mobile devices and desktop PCs. Completed for the CS499 requirement at the University of Southern Indiana. Development will continue in the near future. Etc etc etc.</p>
            <br />
            <br />
        </div>
        <!-- <iframe src="https://googledrive.com/host/0B0KNBdpUDK_1c0x6MGJrb0JpcU0" class="center-block" style="width:750px; height: 500px;"></iframe> -->
    </div>
</div>

<!--jQuery-->
<script src="~/Scripts/jquery-2.2.0.js"></script>
<!--Bootstrap-->
<script src="~/Scripts/bootstrap.min.js"></script>
<!--Google Analytics-->
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72497822-1', 'auto');
        ga('send', 'pageview');

</script>


