

@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/business-casual.css" rel="stylesheet" />
<link href="~/Content/linkStyle.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="panel panel-default">
        <div class="panel panel-heading"><h4>Resume (PDF Format)</h4></div>
        <div class="panel panel-body">
            <div class="center-block">
                <a href="~/Content/DustinCrawfordResume.pdf">Dustin Crawford - Resume - Updated 08/09/15</a>
            </div>
        </div>
    </div>

</div>