.work-history-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-left {
    margin-left: 50px;

}

.margin-right {
    margin-right: 50px;

}

.margin-right-slight {
    margin-right: 10px;

}

.padding-top {

    padding-top: 15px;

}

.image-align-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
