.work-history-content {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.margin-left {
    margin-left: 50px !important;

}

.margin-right {
    margin-right: 50px !important;

}

.margin-right-slight {
    margin-right: 10px !important;

}

.padding-top {

    padding-top: 15px !important;

}
