@{
    Layout = null;
}

@Styles.Render("~/bundles/facss")
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="https://www.linkedin.com/in/dustin-crawford-00072186" value="LinkedIn">
                    <i class="fa fa-linkedin-square fa-2x"></i>
                </a>
                <a href="http://www.bitbucket.org/DustinJCrawford" value="BitBucket">
                    <i class="fa fa-bitbucket-square fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-lg-12">Copyright &copy; 2016 - Dustin Crawford</div>
        </div>
    </div>
</footer>

